# remove any test directory
# test/

/.idea/

/app/gitinfo
/app/*.json
/app/.env
/app/backup
/app/storage
/app/temp
/app/logs
/app/import
/app/export
/app/cftcp
/app/src/gitinfo
/app/src/vendor/**/.git

/docker/
.dockerinfo
/distr/*.log
/distr/docker/image/cyberft.*.tar*
/distr/docker/image/deps/*

/.vscode/
/app/221116Dump.sql
/app/QAWork/
/app/crypto_pro/
/app/dump.sql
/app/git.000/
/app/src/1
/app/src/bin/cyberft-crypt1
/app/src/console/_data/
/app/src/core
/app/src/tests/
/config/nginx/cyberft_default
/config/nginx/cyberft_default_bak.conf
/config/samba/cyberft.conf
/images
/app/src/common/config/assets-prod.php

/app/sftp_sync
/app/platina_dbo_export
/app/src/backend/web/.user.ini
