.fcst-description {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
}

.fcst-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fcst-sell-currency-label {
    padding-top: 15px;
}